<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addUserForm" action="users/create" method="POST">
                    
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required />
                    </div>
                    <div class="form-group">
                        <label for="allowed_ips">Allowed IPs (Enter for new IP)</label>
                        <input id="allowed_ips_check" type="checkbox">
                        <textarea class="form-control" id="allowed_ips" name="allowed_ips" required disabled></textarea>
                    </div>
                    <div class="form-group">
                        <label for="allowed_ports">Allowed Ports (Enter for new Port)</label>
                        <input id="allowed_ports_check" type="checkbox">
                        <textarea class="form-control" id="allowed_ports" name="allowed_ports" required disabled></textarea>
                    </div>

                    <div class="form-group">
                        <label for="detect_ip">Auto Detect IP</label>
                        <input id="detect_ip" name="detect_ip" type="checkbox">
                    </div>
                    
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Add User</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    var ip_valid = true;
    var port_valid = true;

    function validateIP(ip){
        var ipRegex = new RegExp("^([0-9]{1,3}\.){3}[0-9]{1,3}$");
        return ipRegex.test(ip);
    }
    function validatePort(port){
        // fix regex for port validation
        var portRegex = new RegExp("^[0-9]{1,5}$");
        return portRegex.test(port);
    }
    $("#allowed_ips").on("change",function(){
        //validate IPs by breaking lines and checking each line
        var ips = $(this).val().split("\n");
        var valid = true;
        ip_valid = true;
        for(var i=0;i<ips.length;i++){
            if(ips[i].trim() == ""){
                continue;
            }
            if(!validateIP(ips[i].trim())){
                valid = false;
                ip_valid = false;
                break;
            }
        }
        if(!valid)
        {
            toastr.error("Invalid IP Addresses");
        }
    });

    $("#allowed_ports").on("change",function(){
        //validate Ports by breaking lines and checking each line
        var ports = $(this).val().split("\n");
        var valid = true;
        port_valid = true;
        for(var i=0;i<ports.length;i++){
            if(ports[i].trim() == ""){
                continue;
            }
            if(!validatePort(ports[i].trim())){
                valid = false;
                port_valid = false;
                break;
            }
        }
        if(!valid)
        {
            toastr.error("Invalid Ports");
        }
    });

    $("#allowed_ports_check").on("change",function(){
        if($(this).is(":checked")){
            $("#allowed_ports").prop("disabled",false);
        }else{
            $("#allowed_ports").prop("disabled",true);
        }
    });

    $("#allowed_ips_check").on("change",function(){
        if($(this).is(":checked")){
            $("#detect_ip").prop("checked",false);
            $("#allowed_ips").prop("disabled",false);
        }else{
            $("#allowed_ips").prop("disabled",true);
        }
    });

    // validate form before submitting id addUserForm
    $("#addUserForm").on("submit",function(e){
        if(!ip_valid || !port_valid){
            e.preventDefault();
            toastr.error("Invalid IP Addresses or Ports");
        }
        else
        {
            return true;
        }
    });

    $("#detect_ip").on("change",function(){
        if($(this).is(":checked")){
            $("#allowed_ips").prop("disabled",true);
            $("#allowed_ips_check").prop("checked",false);
        }
    });
});
</script>