<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html' %}
<body>
    <!-- Main Content Section -->
    <div class="container-fluid">
        {% include 'partials/nav.html' %}
        <br />
        <!-- Table for displaying records -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Users
                            <a href="#" class="btn btn-primary float-right" data-toggle="modal" data-target="#addUserModal">Add User</a>
                        </h5>
                        <p class="card-text">All users with list of whitelisted IPs.</p>
                        
                        <table class="table table-striped table-bordered table-hover mt-3" id="recordsTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Allowed IPs</th>
                                    <th>Allowed Ports</th>
                                    <th>Created Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>{{ user.user.id }}</td>
                                    <td>{{ user.user.email }}</td>
                                    <td>{{ user.user.username }}</td>
                                    <td>
                                        {% for ip in user.allowed_ip %}
                                        {{ ip }},
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for port in user.allowed_port %}
                                        {{ port }},
                                        {% endfor %}
                                    </td>
                                    <td>{{ user.created_at }}</td>
                                    <td>
                                        <a href="#"  class="editUserBtn btn btn-primary" data-deip="{{user.detect_ip}}" data-id="{{user.user.id}}" data-port="{{user.allowed_port}}" data-ip="{{user.allowed_ip}}" data-email="{{user.user.email}}">Edit</a>
                                        <a href="#"  class="deleteUserBtn btn btn-danger">Delete</a>
                                    </td>
                                    
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'modals/add_user.html' %}
    {% include 'modals/edit_user.html' %}
    {% include 'partials/scripts.html' %}
</body>
</html>
